# Data Input and Output

In [2]:
import numpy as np
import pandas as pd

#### Print your current directory file path with pwd

In [6]:
pwd

'C:\\Users\\Marcial\\Pierian-Data-Courses\\TensorFlow-Two-Bootcamp\\01-Pandas-Crash-Course'

#### List the files in your current directory with ls

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 3652-BD2F

 Directory of C:\Users\Marcial\Pierian-Data-Courses\TensorFlow-Two-Bootcamp\01-Pandas-Crash-Course

11/04/2019  10:00 AM    <DIR>          .
11/04/2019  10:00 AM    <DIR>          ..
11/04/2019  12:23 AM    <DIR>          .ipynb_checkpoints
09/23/2019  03:32 PM             1,502 00-Intro-to-Pandas.ipynb
09/23/2019  03:26 PM             8,899 01-Series.ipynb
09/23/2019  03:32 PM            64,376 02-DataFrames.ipynb
09/23/2019  03:50 PM            15,145 03-Missing-Data.ipynb
10/22/2019  10:51 AM            34,016 04-Groupby.ipynb
11/03/2019  11:19 PM            58,455 05-Operations.ipynb
11/04/2019  10:00 AM            14,457 06-Data-Input-and-Output.ipynb
11/03/2019  10:57 PM            32,486 07-Pandas-Exercises.ipynb
10/22/2019  03:15 PM            33,196 08-Pandas-Exercises-Solutions.ipynb
10/22/2019  01:09 PM            66,984 african_econ_crises.csv
06/28/2019  12:16 PM           375,542 bank.csv
10/22/2019  10:50 AM                51 example.csv
04/15/2019  11:56 AM             5,064 Excel_Sample.xlsx
09/26/2019  11:49 AM            16,810 Universities.csv
              14 File(s)        726,983 bytes
               3 Dir(s)  20,533,911,552 bytes free

### CSV Input

In [7]:
df = pd.read_csv('example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [8]:
df.to_csv('example.csv',index=False)

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [9]:
tables = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [10]:
tables[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019","November 1, 2019"
1,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019","October 25, 2019"
2,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019","October 28, 2019"
3,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
4,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"

____